// Text color
$primary-text: #090909;
$text-invert: #F6F6F6;
$text-brand: #DEEE70;

// Surface color
$primary-surface: #D5CAEA;
$secondary-surface: #F6F6F6;
$brand-surface: #9F79E9;
$brand-surface-invert: #271747;
$cta-surface: #DEEE70;
$surface-invert: #110a1f;
$surface-disabled: #f1e9ff;

// Border color
$primary-border-color: #090909;
$border-color-invert: #F6F6F6;
$border-cta: #DEEE70;

// Border radius
$border-radius-none: 0px;
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 16px;
$border-radius-xlg: 60px;
$border-radius-2xlg: 80px;

// Padding
$spacing-none: 0px;
$spacing-xsm: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xlg: 36px;

// Media Query
$media-mob: 420px;
$media-tab: 680px;
$media-des: 1100px;

